<div>
  What can Brick secretary do for you today ?
</div>

<div>
  <p>bricklink : my lego parts and sets info</p>
  <p>rebrickable : my lego mocs and wishlist sets</p>
  <p>brick assist</p>
  <p>Locabriques</p>
  <p>Funwhole list and wishlist</p>
  <p>Pantasy list and wishlist</p>
  <p>lego price and deals from several shops : from avenuedelabrique.com, smythstoys  </p>
  <p>pantasy price and deals : from official website and amazon</p>
  <p>funwhole price and deals : from official website and amazon</p>
  <p>legoland fabrik price/other lego related activities</p>
  <p>instagram feeds/planning/articles inspiration and notes + panning for other groups etc.</p>
</div>