<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brick Secretary</title>
    <link rel="stylesheet" href="https://use.typekit.net/rbl7smh.css">

</head>

<body>
  <header>
  <h1>Brick Secretary of Briquesville</h1>
  </header>

  <div class="container">

    <div class="column">
      <h2 class="red-title">A moi!</h2>
      
      <div class="row">
        <h3 class="yellow-subtitle">My sets</h3>
        <div>categories of sets</div>
      </div>

      <div class="row">
        <h3 class="red-subtitle">My parts</h3>
        <div>all my existing parts in white or black color</div>
      </div>

      <div class="row">
        <h3 class="blue-subtitle">My projects / moc</h3>
        <div>bullet todo | my mocs' name and link to their rebrickable/other websites page</div>
      </div>
    </div>

    <div class="column">
      <h2 class="yellow-title">Wishlist</h2>

      <div>
        <h3 class="red-subtitle">LEGO</h3>
        <div>All sets</div>
      </div>

      <div>
        <h3 class="blue-subtitle">MOC & Parts</h3>
        <div>Categories of MOC</div>
      </div>

      <div>
        <h3 class="purple-subtitle">Other</h3>
        <div>Locabrique/Pantasy/Funwhole/Cada/Aliexpress</div>
      </div>

    </div>

    <div class="column">
      <h2 class="blue-title">Sourcing</h2>

      <div>
        <h3 class="red-subtitle">parts from Lego stores</h3>
        <div>Lego stores and status IF new update on favorite stores or wishlist parts found</div>
      </div>

      <div>
        <h3 class="yellow-subtitle">sets from renting service</h3>
        <div>Sets and Locabrique's shops IF new sets added or wishlist sets found</div>
      </div>

      <div>
        <h3 class="green-subtitle">french market prices overview</h3>
        <div>Sets IF price drop on wishlist sets </div>
      </div>
    </div>

  </div>

  <div>
    <h2 class="red-button">Showcase my work</h2>
    <p>instagram feeds/planning/articles inspiration and notes + panning for other groups etc.</p>
  </div>

  <footer>
    <p>Enjoy your bricks journey !</p>
    <a href="index.html">Home</a>
  </footer>

</body>